<%-include('includes/head.ejs')%>
        <div class="recent-orders">
          <h2>Recent Orders</h2>
          <table>
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product Number</th>
                <th>Payment</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
              <tr>
                <td>xtuctcyuvutcytcycuyv</td>
                <td>3535</td>
                <td>5323</td>
                <td class="warning">Pending</td>
                <td class="primary">Detactycytcytcils</td>
              </tr>
            </tbody>
          </table>
          <a href="#" class="show-btn">Show All</a>
        </div>
<%-include('includes/foot.ejs')%>

     
